.main-container {
  display: grid;
  grid-template-columns: 20% auto;

  .side-nav {
    border-right: 1px black;
    width: 220px;
    height: 768px;
    background: #f9fafa 0% 0% no-repeat padding-box;
    opacity: 1;

    .log {
      margin: 39px 0 0 28px;
      width: 121px;
      height: 24px;
    }

    .tasks {
      margin: 52px 0 0 24px;
      color: #0854d9;
    }
    .projects {
      margin: 21px 0 0 24px;
    }
  }
}
.is-complete {
  opacity: 0.6;
  text-decoration: line-through;
  background: #d1d1d1;
}
.col-md-6 {
  margin-left: -539px;
}
.container {
  .navbar {
    display: flex;
    flex-direction: row;
    .all_tasks {
      margin: 29px 0  0 -3px;
      width: 82px;
      height: 21px;
      text-align: left;
      color: #0854d9;
      opacity: 1;
    }
    .navbar-task {
      margin: 31px 0 0 72px;
    }
    .img_right{
      position: absolute;
      margin-left: 823px;
      margin-top: 15px;
    }
  }
  .card {
    width: 935px;
  }

  .btn-secondary {
    background-color: white;
    border: none;
  }
  .btn-secondary:hover {
    background-color:white;
  } 
  .btn-primary {
    background-color: #EDF0F4;
    border: none;
    color: #2B2F36;
    opacity: 1;
  }
  .btn-primary:hover {
    background-color: #EDF0F4;
    color: #2B2F36;
  }
  .task-description {
    color: #888C93;
    opacity: 1;
    font-size: small;
  }
  .flex-fill {
    color: #2B2F36;
    opacity: 1;
    font-size: medium;
  }
}

