<div class ="log">
{{svg-jar "logo"}}
</div>
  <div class="tasks">
    {{svg-jar "ic_tasks"}} My Tasks
  </div>
  <div class="projects">
    Projects
  </div>
  
  <div class="projects">
    Calendar
  </div>
  